* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--surface-ground);
  margin: 0;
  padding: 0;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

.layout-wrapper {
  min-height: 100vh;
}
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #1f1f1fbb #75757588;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #75757588;
}

*::-webkit-scrollbar-thumb {
  background-color: #1f1f1fbb;
  border-radius: 20px;
  border: 1px solid #75757588;
}

.noscroll::-webkit-scrollbar {
  display: none;
}